<html>
    <head>
        <title>{{ title }} - Rock Paper Scissors!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
                <nav>
                    <ul id="nav-links">
                        <li><a href="/">RULES</a></li>
                        <li><a href="/play">PLAY</a></li>
                        
                    </ul>
                </nav>
                <h1 id="heading">LET'S PLAY ROCK, PAPER, SCISSORS!</h1>

                <img class="icon" src="{{ url_for('static', filename='images/white_rock_icon.png') }}" alt="rock icon">
            
                <img class="icon" src="{{ url_for('static', filename='images/white_paper_icon.png') }}" alt="paper icon">
            
                <img class="icon" src="{{ url_for('static', filename='images/white_scissors_icon.png') }}" alt="scissors icon">
                </div>
                
           
                
            
        </header>
        

        {% block content %}

        {% endblock %}

        <footer>
           
        </footer>
    </body>
</html>